{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <!-- Search Form -->
    <form method="get" action="{{ url_for('index') }}" class="mb-5">
        <div class="input-group shadow-sm">
            <input type="text" class="form-control" name="query" placeholder="Search for movies..." value="{{ query }}">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <!-- Movie Grid -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
        {% for id in movies.keys() %}
            <div class="col">
                <div class="card h-100 border-0 shadow-sm d-flex flex-column">
                    <a href="{{ url_for('movie_details', movie_id=id) }}" class="text-decoration-none">
                        <img src="{{ movies[id]['poster_path'] }}" class="card-img-top rounded" alt="{{ movies[id]['title'] }}">
                    </a>
                    <div class="card-footer mt-auto text-center text-primary">
                        <h5 class="card-title text-truncate">{{ movies[id]['title'] }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    
    
       

    <!-- Pagination -->
    <div class="d-flex justify-content-center mt-5">
        <nav>
            <ul class="pagination shadow-sm">
                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('index', query=query, page=page-1) }}">Previous</a>
                    </li>
                {% endif %}
                <li class="page-item disabled">
                    <span class="page-link">Page {{ page }} of {{ total_pages }}</span>
                </li>
                {% if page < total_pages %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('index', query=query, page=page+1) }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
